@using IocContainer.Controllers
@model Dictionary<MenuMaster, List<MenuMaster>>

<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Menu Example</title>
    <style>
        nav ul ul {
            display: none;
        }
        nav ul li:hover > ul {
            display: block;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            @foreach (var menuItem in Model)
            {
                await Html.RenderPartialAsync("_Menu", menuItem);
            }
        </ul>
    </nav>
</body>
</html>
