@model Ioc.ObjModels.Model.InvoiceModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Sub Category/</span>Sub Create Category</h4>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="form-floating">
                                <input asp-for="ID" type="hidden" class="form-control" aria-describedby="floatingInputHelp" />
                                <input asp-for="OldValue" type="hidden" class="form-control" aria-describedby="floatingInputHelp" />

                                <label asp-for="InvoiceNumber" for="floatingInput"></label>
                                <input asp-for="InvoiceNumber" class="form-control" aria-describedby="floatingInputHelp" />
                                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-floating">
                                <input asp-for="InvoiceDate" class="form-control" aria-describedby="floatingInputHelp" />
                                <label asp-for="InvoiceDate" for="floatingInput"></label>
                                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-floating">
                                <input asp-for="TotalAmount" class="form-control" aria-describedby="floatingInputHelp" />
                                <label asp-for="TotalAmount" for="floatingInput"></label>
                                <span asp-validation-for="TotalAmount" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-floating">
                                <select asp-for="CompanyId" asp-items="@ViewBag.Companys" class="form-control" aria-describedby="floatingInputHelp">
                                    <option>Select CompanyId</option>
                                </select>
                                <label asp-for="Company" for="floatingInput"></label>
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-floating">
                                <select asp-for="SalespersonId" asp-items="@ViewBag.Salespersons" class="form-control" aria-describedby="floatingInputHelp">
                                    <option>Select Salesperson</option>
                                </select>
                                <label asp-for="Salesperson" for="floatingInput"></label>
                                <span asp-validation-for="SalespersonId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-floating">
                                <select asp-for="CustomerId" asp-items="@ViewBag.Customers" class="form-control" aria-describedby="floatingInputHelp">
                                    <option>Select Customer</option>
                                </select>
                                <label asp-for="Customer" for="floatingInput"></label>
                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-floating">
                                <label for="select2Icons" class="form-label">Icons</label>
                                <select id="select2Icons" class="select2-icons form-select">
                                    <optgroup label="Services">
                                        <option value="wordpress2" data-icon="icon-base bx bxl-wordpress" selected>WordPress</option>
                                        <option value="codepen" data-icon="icon-base bx bxl-codepen">Codepen</option>
                                        <option value="drupal" data-icon="icon-base bx bxl-drupal">Drupal</option>
                                        <option value="pinterest2" data-icon="icon-base bx bxl-css3">CSS3</option>
                                        <option value="html5" data-icon="icon-base bx bxl-html5">HTML5</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-floating">

                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
