@using IocContainer.Controllers
@model KeyValuePair<MenuMaster, List<MenuMaster>>

<li>
    <a href="@Url.Action(Model.Key.ActionName, Model.Key.ControllerName)">@Model.Key.MenuText</a>
    @if (Model.Value != null && Model.Value.Any())
    {
        <ul>
            @foreach (var subMenu in Model.Value)
            {
                await Html.RenderPartialAsync("_Menu", new KeyValuePair<MenuMaster, List<MenuMaster>>(subMenu, subMenu.menus));
            }
        </ul>
    }
</li>
