@using Ioc.ObjModels.Model.CommonModel
@model MailContent
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Horizontal Layouts</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Basic Layout</h5>
                        <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                        <form id="formId" method=post>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Name</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" asp-for="Content" id="basic-default-name Content" placeholder="John Doe"></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button class="btn btn-primary" id="btnSubmit">submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // $('#btnSubmit').OnClick(function(){
        //     console.log($('#formId').serialize());
        //     alert("adbj");
        // });
        $(document).ready(function () {
            $("#btnSubmit").click(function (e) {
                e.preventDefault();

                // Get all the forms elements and their values in one step
                var values = $('#formId').serialize();
                console.log(JSON.stringify(values));
                // try{
                //     $.ajax({
                //         URL: "/MailSend/SendMail",
                //         type: "POST",
                //         data: values,
                //         success: function (data) {

                //         },
                //         Error: function (ex) {
                //             console.log(ex);
                //         }
                //     });

                // }catch (ex) {
                //     console.log(ex)
                // }
                let formData = {
                    content: $("#content").val()
                }

                try {
                    $.ajax({
                        type: 'POST',
                        url: '/MailSend/SendMail',
                        dataType: 'json',
                        //contentType: 'application/json; charset=utf-8',
                        data: values,
                        success: function (res) {
                            if (res.isValid) {
                                $('#viewAll').html(res.html)
                                $('#form-modal').modal('hide');
                            }
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                    return false;
                } catch (ex) {
                    console.log(ex)
                }
            });
        });
    </script>
}  